{% comment %}
  This is the curriculum for the course landing pages.
{% endcomment %}
{% for chapter in page.course.chapters %}
  {% assign index = forloop.index + 1 %}
  <div class='curriculum-chapter'>
    <div class='chapter-toggle'>
      <div class='curriculum-chapter-header'>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='row'>
              <div class='col-sm-9'>
                <span class='chapter-header'>
                  {{ chapter.name }}
                </span>
              </div>
              {% if chapter.duration_in_seconds > 0 %}
                <div class='col-sm-3'>
                  <div class='chapter-time'>
                    {{ chapter.duration_in_seconds_as_time }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class='col-sm-12 chapter-description'>
          {{ chapter.description }}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
