{% comment %}
  This is the site landing page.
{% endcomment %}
<div id="pages" class="site-landing">
  <section class="site-landing__banner page-banner">
    <div class="column site-landing__banner-content">
      <div class="row">
        <div class="col-md-12 site-landing__banner-content-inner">
          <h1 class="site-landing__banner--title">
            {% if site.has_home_header %}
              {{ site.home_header }}
            {% endif %}
          </h1>
          <h2 class="site-landing__banner--subtitle">
            {% if site.has_home_subheader %}
              {{ site.home_subheader }}
            {% endif %}
          </h2>
        </div>
      </div>
    </div>
  </section>

  <section class="site-landing__courses">
    <div class="container">
      {% include 'products_card_list' %}
    </div>
  </section>

</div>
