{% comment %}
  This is the site landing page.
{% endcomment %}
<div id="pages" class="site-landing">
  <section class="site-landing__banner page-banner">
    <div class="column site-landing__banner-content">
      <div class="row">
        <div class="col-md-12 site-landing__banner-content-inner">
          <h1 class="site-landing__banner--title">
            {% if site.has_home_header %}
              {{ site.home_header }}
            {% endif %}
          </h1>
          <h2 class="site-landing__banner--subtitle">
            {% if site.has_home_subheader %}
              {{ site.home_subheader }}
            {% endif %}
          </h2>
        </div>
      </div>
    </div>
  </section>

  <section class="site-landing__courses">
    <div class="container">
      {% include 'products_card_list' %}
    </div>
  </section>

    <section class="about">
    	<div class="about_content">
    		<h1>About Volumental</h1>
    		<p>Finding shoes that fit is a hassle for many of us. Studies show more than 50% of women and 30% of men are wearing shoes that don’t fit them.* We want to allow your customers to focus only on the style of shoes they like - taking size out of the equation forever by ensuring they always get shoes that fit them!</p>
    		<p>Volumental is the only company in the world that offers a plug and play solution for foot scanning that is optimized for the retail environment. The Volumental solution hardware and software bundle that helps you digitize the fitting process with your customers and at the same time create valuable data for merchandising, product development, marketing, etc. Your customer steps on the scanner, and in a few seconds a tablet displays 3D models of both their feet, including the key measurements for a good shoe fit recommendation. This makes the fitting process more efficient and enjoyable. In our latest customer survey over 75% of customers scanned with our solution reported increased confidence in the fitting expertise of the store and over 70% preferred to go to a store with a scanner.</p>
    		<p class="footnote">*British College of Podiatry, 2013</p>
    	</div>
    </section>

</div>
